
.canvas {
    background: black;
    height: 100%;
    width: 20%;
}


.d-flex {
    height: 100%;
}

.navbar {
    font-size: larger;
    font-family: 'Nunito', sans-serif;
}

.nav-link {
    color: blueviolet;

}

#footer {
    text-align: center;
    background-color: teal;
    color: aqua;
    padding: 10px 0;
    margin: 0 0;
}

.jumbotron{
    margin-bottom: 0;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}
#link {
    color: orange;
}

#link:hover {
    color: wheat;
}

#logoend {
    filter: invert();
    text-align: center;
    width: 10%;
    height: 10%;
    display: block;
    margin: 0 auto;
}

#header {
    background: url("https://images.unsplash.com/photo-1512295767273-ac109ac3acfa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80") center center / cover no-repeat;
    height: 100%;
}
